-var pc = ["Нетбуки и ноутбуки","Стацыонарные ПК","Сканеры","Принтеры","Планшеты","Веб-камеры","Электронныые книги","Графические планшеты","Носители информацыи","Переферия","ИБП","Процессоры","Видеокарты","Звуковые карты","Материнские карты","Виртуальняа реальность","Обучающие материалы","Обучающие материалы"];
//-var elem = "HP Pavilon 15-n028sr(F2U11EA)";
header Каталог товаров
  ul Компьютерная техника
    for names in pc
      li= names
    //  hr
footer
  div.leaders Лидеры продаж
    div.leaders-elem HP Pavilon 15-n028sr(F2U11EA)
      img.leaders-elem(src="../../img/hp.jpg")
      button Купить
    div.leaders-elem HP Pavilon 15-n028sr(F2U11EA)
      img.leaders-elem(src="../../img/hp.jpg")
      button Купить
