-var x = 4;
-var s = 21;
section
  div.body-header-slider
    - for( var i = 0; i <=x; i++){
        img.slider(src="../../img/nout" + i + ".jpg")
    - }
  div.body-body Выбор по бренду
    section
      option все бренды
    - for(var i = 0; i <=s; i++){
        img.body-body-brand(src="../../img/brand" + i + ".jpg")
    - }
  div.body-header-footer Обзоры
    div.body-header-footer-div-elem.
      Asus Eee Top ET2700: сенсорный мультимедийный цвет
      Сенсорные экраны захватили ринок мобильной техники почти полностю, однако на рынке десктопных ПК пока не прижились
    div.body-header-footer-div-elem.
      Asus Eee Top ET2700: сенсорный мультимедийный цвет
      Сенсорные экраны захватили ринок мобильной техники почти полностю, однако на рынке десктопных ПК пока не прижились
    div.body-header-footer-div-elem.
      Asus Eee Top ET2700: сенсорный мультимедийный цвет
      Сенсорные экраны захватили ринок мобильной техники почти полностю, однако на рынке десктопных ПК пока не прижились
