- var headr = ["О магазине", "Акции", "Доставка и оплата", "Кредит", "Помощь", "Контакты"] ;
header
  for word in headr
    div.header-left= word
  div.header-right Мой магазин Вход

    img.header-right(src="../../img/fecac0c0.png")
    img.header-right(src="../../img/if_key_298808.png")
